# Dependencies
node_modules
.pnpm-store

# Build outputs
.next
dist
.turbo

# Environment
.env
.env.local
.env.*.local
!.env.example

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Testing
coverage
.nyc_output

# Prisma
prisma/*.db
prisma/*.db-journal

# Docker
docker-compose.override.yml
