@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    /* Her zaman koyu zemin, her zaman açık renk yazı */
    @apply bg-background text-foreground antialiased selection:bg-primary selection:text-black;
  }
  
  /* Başlıklar için o teknolojik fontu zorluyoruz */
  h1, h2, h3, h4, h5, h6 {
    @apply font-sans tracking-tight;
  }
  
  p, span, div {
    @apply font-body;
  }
}